body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 100px;
    text-align: center;
}

.card {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.btn {
    margin-top: 20px;
}

.success-icon {
    font-size: 50px;
    color: #28a745;
}